* { -moz-user-select: -moz-none; -webkit-touch-callout: none; margin: 0; padding: 0; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
a { color: #3e3a39; text-decoration: none; -webkit-tap-highlight-color: rgba(0,0,0,0); -moz-tap-highlight-color: rgba(0,0,0,0); }
a:hover { text-decoration: none; }
body { overflow-x: hidden; -webkit-text-size-adjust: none; display: -webkit-box; background: #efefef; -webkit-box-orient: vertical; -webkit-box-align: stretch; }
dl, ul, li, form, p, h1, h2 { margin: 0px; padding: 0px; list-style: none; }
html, body { height: 100%; position: relative; width: 100%; margin: 0px auto; font-family: "΢���ź�", "MS Serif", "New York", serif; color: #3e3a39; font-size: 14px; }
.clear { clear: both; }
input { -webkit-appearance: none; }
#editpic { background: #fff; position: fixed; top: 0px; left: 0px; width: 100%; height: 100%; }
#rRightDown, #rLeftDown, #rLeftUp, #rRightUp, #rRight, #rLeft, #rUp, #rDown { position: absolute; background: #FFF; border: 1px solid #333; width: 12px; height: 12px; z-index: 500; font-size: 0; opacity: 0.5; filter: alpha(opacity=100); }
#rLeftDown, #rRightUp { cursor: ne-resize; }
#rRightDown, #rLeftUp { cursor: nw-resize; }
#rRight, #rLeft { cursor: e-resize; }
#rUp, #rDown { cursor: n-resize; }
#rLeftDown { left: -4px; bottom: -4px; }
#rRightUp { right: -4px; top: -4px; }
#rRightDown { right: -4px; bottom: -4px; background-color: #F93; }
#rLeftUp { left: -4px; top: -4px; width: 25px; height: 25px; background: #F93; }
#rRight { right: -4px; top: 50%; margin-top: -4px; }
#rLeft { left: -4px; top: 50%; margin-top: -4px; }
#rUp { top: -4px; left: 50%; margin-left: -4px; }
#rDown { bottom: -4px; left: 50%; margin-left: -4px; }
#bgDiv { border: 1px solid #666666; position: relative; }
#dragDiv { border: 1px dashed #fff; width: 100px; height: 60px; top: 50px; left: 50px; cursor: move; }
#rRightDown { width: 25px; height: 25px; }
.edit_box { padding: 16px 0px; }
.edit_box h2 { font-size: 14px; margin: 0px; padding: 0px; line-height: 32px; }
.edit_box_box { position: relative; }
.text_border { border: 1px solid #ccc; width: 100%; font-size: 16px; padding: 6px 12px; border-radius: 4px; background: url(../images/bg.png) #fff; line-height: 20px; }
.edit_border { border: 1px dotted #ccc; padding: 10px; line-height: 26px; font-size: 16px; text-align: left; margin-bottom: 8px; }
.edit_borderbg { background: #fff; }
.edit_border .text_border { border: none; background: none; border-radius: 0px; }
.edit_border img { width: 100%; }
.edit_images { position: relative; }
.edit_images img.up { position: absolute; left: 6px; top: 6px; width: 49px; height: 49px; }
.edit_images img.down { position: absolute; left: 6px; top: 60px; width: 49px; height: 49px; z-index: 999; }
.add_box { border: 1px solid #ccc; background: #FFF; text-align: center; margin: 8px auto; overflow: hidden; }
.add_box .text_border { border: none; background: none; border-top: 1px solid #ccc; border-radius: 0px; }
.add_box_images { text-align: center; position: relative; padding: 10px; }
.add_box_images img { max-width: 100%; min-width: 200px; margin: 0px auto; }
.quitediv { clear: both; overflow: hidden; margin-bottom: 12px; margin-top: 12px; }
.quitediv p { float: left; width: 50%; }
.quitediv p span { margin: 6px; display: block; }
.button_quite { background: #6EA64B; color: #fff; display: block; border: none; text-align: center; letter-spacing: 10px; padding: 6px; width: 100%; }
.button_style1 { background: #497DA1; }
.loading { position: fixed; width: 100%; height: 100%; background: rgba(0,0,0,0.5); display: none; top: 0px; left: 0px; }
.loading p { text-align: center; line-height: 30px; height: 30px; color: #FF0; }
.spinner { margin: 100px auto 0; width: 150px; text-align: center; -moz-transform: scale(0.8); -webkit-transform: scale(0.8); }
.spinner > div { width: 30px; height: 30px; background-color: #67CF22; border-radius: 100%; display: inline-block; -webkit-animation: bouncedelay 1.4s infinite ease-in-out; animation: bouncedelay 1.4s infinite ease-in-out; /* Prevent first frame from flickering when animation starts */
-webkit-animation-fill-mode: both; animation-fill-mode: both; }
.spinner .bounce1 { -webkit-animation-delay: -0.32s; animation-delay: -0.32s; }
.spinner .bounce2 { -webkit-animation-delay: -0.16s; animation-delay: -0.16s; }
 @-webkit-keyframes bouncedelay {  0%, 80%, 100% {
-webkit-transform: scale(0.0)
}
 40% {
-webkit-transform: scale(1.0)
}
}
 @keyframes bouncedelay {  0%, 80%, 100% {
 transform: scale(0.0);
 -webkit-transform: scale(0.0);
}
40% {
 transform: scale(1.0);
 -webkit-transform: scale(1.0);
}
}
